<div class="backdrop"></div>
<header class="main-header">

<nav>
    <a href="/"><img src="https://b.zmtcdn.com/images/zomato_white_logo_new.svg" alt="zomato"></a>
    <ul>
        <li class ="high"><a href="/restaurants">View</a></li>
        <li class ="high"><a href="/add-restaurant">Add</a></li>
        <div class="dropdown">
            <li class ="high"><a>Cart</a></li>
            <div class="cartDown">
                <div class="square"></div>
                <div class="resDetail">
                    <img src="/<%= resID.imageUrl %>" alt="">
                    <div class="info">
                        <h3><%= resID.name %></h3>
                        <h5><%= resID.cuisine %></h5>
                        <a href="/restaurants/<%= resID._id %>">View Full Menu</a>
                    </div>
                </div>
                <div class="cartDetail">
                    <div class="items">
                        <% for( let item of cart.items ) {%>
                        <div class="item">
                            <p class="name"><%= item.name %></p><p class="quantity"> x <%= item.quantity %></p>
                            <p class="rate">₹<%= item.rate *  item.quantity%></p>
                        </div>
                        <% } %>
                    </div>
                    <div class="total">
                        <h2 class="subtotal">Subtotal</h2>
                        <h2 class="net">₹<%= cart.total %></h2>
                    </div>
                </div>
                <button>Checkout</button>
            </div>
        </div>
        
    </ul>
</nav>
